.todoTask {
    width: 100%;
    display: flex;
}

.TabQueue,
.TabDone,
.TabDevelopment {
    width: 33%;
    margin: 10px 3px;
    padding-bottom: 60px;
}

.Queue,
.Done,
.Development {
    text-align: center;
    padding: 5px;
    border: solid red 2px;
    border-radius: 15px;
}

.containerTask {
    display: flex;
    width: 90%;
    border: solid 1px rgb(255, 13, 13);
    margin: 10px auto;
    border-radius: 15px;
    padding: 5px;
    cursor: grab;
}

.titleTask {
    width: 75%;
    word-break: break-word;
    margin: auto 0 auto 4px;
    font-size: 14px;
    cursor: pointer;
}

.blockBtn {
    margin-left: auto;
}

.basket {
    width: 25px;
    font-size: 20px;
    margin: auto 0;
    text-align: center;
    cursor: pointer;
}

.statusCompletionTask {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: auto 2px;
}

@media screen and (max-width: 520px) {
    .containerTask {
        width: 100%;
    }
}

