.todoTask {
    display: flex;
}

.TabQueue,
.TabDone,
.TabDevelopment {
    width: 33%;
    margin: 10px 5px;
    height: 400px; /*Это длина доски*/
}

.Queue,
.Done,
.Development {
    text-align: center;
    padding: 5px;
    border: solid red 2px;
    border-radius: 15px;
}

.containerTask {
    display: flex;
    width: 90%;
    border: solid 1px rgb(255, 13, 13);
    margin: 10px auto;
    border-radius: 15px;
    padding: 5px;
}

.item {
    word-break: break-all;
    width: 95%;
}

.statusCompletionTask {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: auto 2px;

}

.hovered {
    boxShadow: 0 4px 3px gray;
    margin-bottom: 20px;
}

