.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    position: relative;
}

.headerLogo {
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    max-width: 100%;
}

.searchBox {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 32px;
    color: #fff;
    background-color: #000;
    border: 2px solid #ff0000;
    border-radius: 10px;
    padding: 3px;
}

.searchBox:hover > .searchTxt,
.searchTxt:focus {
    width: 200px;
}

.searchBtn {
    text-align: left;
    border-radius: 15%;
    transition: 0.4s;
    cursor: pointer;
}

.searchBtn:hover {
    background-color: red;
}

.searchTxt {
    width: 0;
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    transition: 0.4s;
}

.blockButton {
    position: absolute;
    top: 10px;
    right: 10px;

}

.buttonNewTask {
    height: 32px;
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    border: 2px solid #ff0000;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.4s ease, border-color 0.4s ease;
}

.buttonNewTask:hover {
    background-color: #ff0000;
    border-color: #ff0000;
}
